@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.flex {
  display: flex;
}
.col {
  flex-direction: column;
}
.btw {
  justify-content: space-between;
}
.bg-grey {
  background-color: #f5f8f9;
}
.App-logo {
  width: 12rem;
}
.dashboard {
  padding: 2rem;
}
.dashboard-header {
  justify-content: space-between;
  align-items: center;
}
.dashboard-right {
  width: 60vw;
  background: #fff;
  padding: 5rem;
  border-radius: 1rem;
}
.icon {
  width: 1.8rem;
  width: 1.8rem;
  height: 1.8rem;
}
.user-info {
  align-items: center;
  justify-content: space-between;
  padding: 0 0 0 2rem;
  border-radius: 7rem;
  width: 17rem;
}
.username {
  font-size: 1.5rem;
  font-weight: 600;
}
.user-avatar {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  object-fit: cover;
}
.heading-main {
  font-size: 3rem;
  font-weight: 500;
}
.main-top {
  align-items: center;
  justify-content: space-between;
  margin: 5rem 0 1rem;
}
.padlock {
  margin-right: 1rem;
}
.lead {
  font-size: 1.2rem;
  margin-top: 0.8rem;
  color: #a3a3a3;
}
.main-top__right .heading {
  font-size: 1.5rem;
}
.tab-items {
  border-bottom: 1px solid #a3a3a3;
  margin-bottom: 5rem;
}
.tab-items p {
  font-size: 1.6rem;
  margin-right: 3.4rem;
  color: #a3a3a3;
  cursor: pointer;
}
.tab-items p:first-of-type {
  color: #000;
  border-bottom: 2.8px solid;
  padding-bottom: 2rem;
}
.credit-card__right {
  width: 50%;
}
.credit-card {
  width: 30rem;
  margin-bottom: 1.8rem;
}
.form-control label {
  display: block;
  color: #a3a3a3;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}
.form-control input {
  width: 100%;
  padding: 2rem 1.5rem;
  font-size: 1.8rem;
  border: 0;
  border-radius: 1rem;
  outline: none;
  margin-bottom: 4rem;
}
.mastercard-wrapper {
  position: relative;
}
.mastercard-wrapper .mastercard,
.cvv-wrapper .visibility {
  position: absolute;
  right: 0;
  top: 20%;
  margin-right: 2rem;
}
.mastercard-wrapper .mastercard {
  width: 4rem;
}
.form-bottom .form-control:first-of-type {
  margin-right: 4rem;
}

#expirationDate,
#cvv {
  width: 12rem;
}
.expiration-date {
  text-align: center;
}
.cvv-wrapper {
  position: relative;
}
.cvv-wrapper .visibility {
  width: 2rem;
}
.btn-fill {
  background-color: #000;
  color: #fff;
  padding: 1.8rem 3.4rem;
  font: inherit;
  font-size: 1.5rem;
  border: 0;
  outline: none;
  border-radius: 1rem;
}
.btn-flat {
  background: transparent;
  color: #a3a3a3;
  padding: 1.8rem 3.4rem;
  font: inherit;
  font-size: 1.5rem;
  border: 0;
  outline: none;
}
