@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.flex {
  display: flex;
}
.col {
  flex-direction: column;
}
.btw {
  justify-content: space-between;
}
.center {
  align-items: center;
}
.font-grey {
  color: #a3a3a3;
}
.bg-grey {
  background-color: #f5f8f9;
}
.App-logo {
  width: 12rem;
}
.dashboard {
  padding: 2rem;
}
.dashboard-header {
  justify-content: space-between;
  align-items: center;
}
.dashboard-left {
  width: 60vw;
  background: #fff;
  padding: 5rem;
  border-radius: 1rem;
}
.icon {
  width: 1.8rem;
  width: 1.8rem;
  height: 1.8rem;
}
.user-info {
  align-items: center;
  justify-content: space-between;
  padding: 0 0 0 2rem;
  border-radius: 7rem;
  width: 17rem;
  cursor: pointer;
}
.username {
  font-size: 1.5rem;
  font-weight: 600;
}
.user-avatar {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  object-fit: cover;
}
.heading-main {
  font-size: 3rem;
  font-weight: 500;
}
.main-top {
  align-items: center;
  justify-content: space-between;
  margin: 5rem 0 2rem;
}
.padlock {
  margin-right: 1rem;
}
.lead {
  font-size: 1.2rem;
  margin-top: 0.8rem;
  color: #a3a3a3;
}
.main-top__right .heading {
  font-size: 1.5rem;
  font-weight: 500;
}
.tab-items {
  border-bottom: 1px solid #a3a3a3;
  margin-bottom: 5rem;
}
.tab-items p {
  font-size: 1.6rem;
  margin-right: 3.4rem;
  color: #a3a3a3;
  cursor: pointer;
}
.tab-items p:first-of-type {
  color: #000;
  border-bottom: 2.8px solid;
  padding-bottom: 2rem;
}
.credit-card__right {
  width: 50%;
}
.credit-card {
  width: 23rem;
  margin-bottom: 1.8rem;
}
.form-control label {
  display: block;
  color: #a3a3a3;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}
.form-control input {
  width: 100%;
  padding: 2rem 1.5rem;
  font-size: 1.8rem;
  border: 0;
  border-radius: 1rem;
  outline: none;
  margin-bottom: 4rem;
}
.mastercard-wrapper {
  position: relative;
}
.mastercard-wrapper .mastercard,
.cvv-wrapper .visibility {
  position: absolute;
  right: 0;
  top: 20%;
  margin-right: 2rem;
}
.mastercard-wrapper .mastercard {
  width: 4rem;
}
.form-bottom .form-control:first-of-type {
  margin-right: 4rem;
}

#expirationDate,
#cvv {
  width: 12rem;
}
.expiration-date {
  text-align: center;
}
.cvv-wrapper {
  position: relative;
}
.cvv-wrapper .visibility {
  width: 2rem;
}
.btn-fill {
  background-color: #000;
  color: #fff;
  padding: 1.8rem 3.4rem;
  font: inherit;
  font-size: 1.5rem;
  border: 0;
  outline: none;
  border-radius: 1rem;
}
.btn-flat {
  background: transparent;
  color: #a3a3a3;
  padding: 1.8rem 3.4rem;
  font: inherit;
  font-size: 1.5rem;
  border: 0;
  outline: none;
}
.dashboard-right {
  width: 40vw;
  padding: 7rem 4rem 7rem;
}
.dashboard-right .heading-main {
  margin-bottom: 4.7rem;
}
.order-steps {
  margin-bottom: 6rem;
}
.step-icon {
  width: 4rem;
  height: 4rem;
  object-fit: cover;
  border-radius: 50%;
  padding: 0.8rem;
  margin-right: 1rem;
}
.cargo {
  background-color: #ced9fd;
}
.payment {
  background-color: #f9cba0;
}
.review {
  background-color: #bddba6;
}
.step-one {
  margin-right: 2rem;
}
.order-steps p {
  font-size: 1.3rem;
}
.chakra-accordion div {
  font-size: 1.3rem;
  font-weight: 500;
}
.chakra-accordion__item {
  margin-bottom: 2rem;
}
.accordion-title {
  background: #fff;
  border-radius: 1rem;
}
.table-right .css-xumdn4:last-of-type {
  text-align: right !important;
}
.table-right .font-grey,
.table-right .css-xumdn4 {
  border: 0;
}
.chakra-accordion__item {
  border: 0 !important;
}
.chakra-accordion__button {
  padding: 1.8rem !important;
}
.chakra-accordion__button:hover {
  border-radius: 1rem;
}
.chakra-accordion__panel {
  padding: 2rem 0 0 !important;
}
.chakra-accordion__icon {
  width: 2rem !important;
  height: 2rem !important;
}
.total {
  font-size: 1.5rem;
  font-weight: 500;
}
@media screen and (min-width: 1973px) {
  html {
    font-size: 100%;
  }
}

@media screen and (max-width: 1000px) {
  .dashboard {
    flex-direction: column;
  }
  .dashboard-left {
    width: 100%;
  }
  .dashboard-right {
    width: 100%;
  }
}
@media screen and (max-width: 624px) {
  .credit-card__main {
    flex-direction: column;
  }
  .credit-card__right {
    width: 100%;
  }
  .credit-card__left {
    margin-bottom: 2rem;
  }
  .button-container {
    text-align: center;
  }
  .btn-fill {
    margin-bottom: 2rem;
  }
  .dashboard-right,
  .dashboard-left {
    padding: 3rem;
  }
}

@media screen and (max-width: 425px) {
  html {
    font-size: 50%;
  }
}
